.Header
  .Header-logo
    = link_to "Game Favorite", root_path
  .Header-user
    = link_to "ログイン", new_user_session_path, class: 'btn'
    = link_to "新規登録", new_user_registration_path, class: 'btn'
.Devise-main
  .Devise-main__contents
    %h1 〜 新規登録 〜
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :名前, class:"field__name"
        %em (6 文字以下)
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "name",maxlength: "6", class:"field__box"
      .field
        = f.label :メールアドレス, class:"field__name"
        %br/
        = f.email_field :email, autocomplete: "email", class:"field__box"
      .field
        = f.label :パスワード, class:"field__name"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上)
        %br/
        = f.password_field :password, autocomplete: "off", class:"field__box"
      .field
        = f.label :パスワード（確認用）, class:"field__name"
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class:"field__box"
      .actions
        = f.submit "登録する", class:"action__btn"
    /= render "devise/shared/links"
