.Main-contents
  .Main-contents__message
    新着おすすめゲーム！
  .Main-contents__content
    - @posts.each do |post|
      .Main-post
        .Main-post__image
          .Main-post__image__inner
            - if post.image?
              = image_tag post.image.url
            - else
              %span{class:"fa-stack"}
                = icon('fas', 'slash', class: 'fa-stack-2x')
                = icon('fas', 'image', class: 'fa-stack-2x')
              .Main-post__image__inner__no-image
                No image
        .Main-post__game-name
          = post.game_name
        .Main-post__game-hard
          = post.game_hard
        .Main-post__title
          = post.title
