.Header
  .Header-logo
    = link_to "Game Favorite", root_path
  .Header-user
    = link_to "トップページに戻る", root_path, class: 'btn'

.Post-page
  .Post-page__contents
    .Post-page__contents__top
      .Post-page__contents__top__left
        <詳細ページ>
        .Image-box
          %div
          .Image-box__icon
            %div

      .Post-page__contents__top__right
        .Game-title
          <ゲームタイトル>
          = @post.game_name
        .Game-hard
          <ゲームハード>
          = @post.game_hard
        .Evaluation
          <評価>
          = @post.evaluation
        .User-name
          <名前>
          = @post.game_name
        .FavoriteRank
          %div ☆いいね
          %div ランキング順位()
    .Post-page__contents__bottom
      .Form__contents
        .Form__contents__title
          <見出し>
          %div
          <本文>
          %div