.Header
  .Header-logo
    = link_to "Game Favorite", root_path
  - if user_signed_in?
    .Header-user
      %ul.user-info
        %li
          %span
            = current_user.name
          = icon('fa', 'angle-down', class: "user-btn")
          %ul
            %li
              = link_to "マイページ", "/users/#{current_user.id}"
            %li
              = link_to "ログアウト", destroy_user_session_path, method: :delete
      = link_to "投稿する", new_post_path, class: 'btn'
      = link_to "トップページに戻る", root_path, class: 'btn2'
  - else
    .Header-user
      = link_to "ログイン", new_user_session_path, class: 'btn'
      = link_to "新規登録", new_user_registration_path, class: 'btn'
      = link_to "トップページに戻る", root_path, class: 'btn2'

.Post-page
  .Post-page__contents
    .Post-page__contents__top
      .Post-page__contents__top__left
        <詳細ページ>
        .Image-box
          .Image-box__inner
            - if @post.image?
              = image_tag @post.image.url
            - else
              %span{class:"fa-stack"}
                = icon('fas', 'slash', class: 'fa-stack-2x')
                = icon('fas', 'image', class: 'fa-stack-2x')
              .Image-box__inner__no-image
                No image

      .Post-page__contents__top__right
        .Game-title-show
          <ゲームタイトル>
          .Game-title-show__title
            = @post.game_name
        .Game-hard-show
          <ゲームハード>
          .Game-hard-show__hard
            = @post.game_hard
        .Evaluation-show
          <評価>
          = @post.evaluation
        .User-show
          <投稿者名>
          .User-show__name
            = link_to @user.name, "/users/#{@post.user.id}"
        .FavoriteRank
          .FavoriteRank__favorite
            = icon('far', 'thumbs-up', class: "favorite-icon")
            .FavoriteRank__favorite__message
              いいね
          .FavoriteRank__rank
            ランキング順位()
    /*ここから変える*/
    .Post-page-show__contents__bottom
      .Form__contents
        .Form__contents__title
          <見出し>
          .title-show
            = @post.title
        .Form__contents__text
          <本文>
          .text-show
            = @post.text